html{
  height: auto;
}

.body_pageadmin * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
      font-family:'Roboto', Arial, Helvetica, sans-serif;
}

.body_pageadmin {
    background: url("images/bgtr.svg") top right no-repeat, url("images/bgbl.svg") bottom left no-repeat, url("images/overlay.png"), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
}

.body_pageadmin > h2{
    display:block;
    margin-top:5%;
    text-align:center;
    color:white;
    font-weight: lighter;
}


.form_admin {
    font: 95% 'Roboto', Arial, Helvetica, sans-serif;
    width: ;
    max-width: 800px;
    margin: 3% auto 5% auto;
    padding: 16px;
    background-color: rgba(255, 255, 255, .7);
}


.form_admin h2 {
    background: lightseagreen;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form_admin span{
    background-color: #fff;
    padding:6px 15px;
    border: 1px solid #43D1AF;
}

.form_admin select#soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-user-select: none;
    -moz-appearance: button;
   -moz-border-radius: 2px;
   -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -moz-user-select: none;
   background-image: url(), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 100% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px 0;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

.form_admin input[type="text"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 2.8%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}


/****************TEXT AREA **************/
.form_admin textarea {
    max-width: 768px;
    min-width:768px;
    font: 95% Arial, Helvetica, sans-serif;
    padding: 2.8%;
    resize:none;
}


/****************LABEL FOR UPLOAD IMAGE **************/
.form_admin label{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display:inline-block;
    background-color: #fff;
    padding:3.2%;
    position:relative;
    float:left;
    margin-top:5%;
    border: 1px solid #ccc;
}

.form_admin input[type="file"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display:inline-block;
    float:left;
    width:55%;
    background: #fff;
    margin-bottom: 4%;
    margin-top:5%;
    margin-left:10px;
    margin-right:5px;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form_admin img{
    display:inline-block;
    margin:10px;
    width:120px;
    height:120px;
    max-width:160px;
    max-height:120px;
}


.form_admin input[type="text"]:focus,
.form_admin input[type="file"]:focus,
.form_admin textarea:focus,
.form_admin label:hover {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
    transition:border 10s ease-out;
}

.form_admin input[type="submit"],
.form_admin input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: lightseagreen;
    color: #fff;
    font-size:1.5em;
}

.form_admin input[type="submit"]:hover,
.form_admin input[type="button"]:hover {
    background: gray;
    color:black;
    cursor: pointer;
}



/******************** alert upload Reussi / Echec **********************/
.alert_upload{
    background-color: mediumvioletred;
    border-radius: 20px;
    color:white;
    font-size:1.8em;
    padding:30px;
    position: absolute;
    top:14%;

}
/*************** Bouton retour site ******************/

.body_pageadmin .btn_connexion {
    float: right;
    margin-top: 40px;
    background: gray;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.body_pageadmin .btn_connexion:hover {
    background: grey;
    text-decoration: none;
    cursor: pointer;
}
